# Google AI Configuration
GOOGLE_API_KEY=""
GOOGLE_API_KEY_MODEL=""
GEMINI_BASE_ENDPOINT=""
GEMINI_FULL_ENDPOINT=""

# Azure OpenAI Configuration
AZURE_OPENAI_API_KEY=""
AZURE_EMBEDDING_ENDPOINT=""
AZURE_EMBEDDING_DEPLOYMENT_NAME=""
AZURE_EMBEDDING_DEPLOYMENT_VERSION=""

# External API Keys
TAVILY_API_KEY=""
LANGCHAIN_API_KEY=""
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"

# LangChain Configuration
LANGCHAIN_TRACING_V2=true

# External Services
ARKIVGPT_URL="http://localhost:80/api"
CADAID_URL="http://localhost:5001/detect/"

# Logging Configuration
LOG_LEVEL=INFO

# Database Configuration
CHROMA_PATH="./src/chroma"